{% load static from staticfiles %}

  <!-- CSS and JS for BOOTSTRAP TABLE -->

  <link rel="stylesheet" href="{% static "bootstrap-table/assets/bootstrap-table/src/bootstrap-table.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap-table/assets/examples.css" %}">
  <script src="{% static "bootstrap-table/assets/jquery.min.js" %}"></script>
  <script src="{% static "bootstrap-table/assets/bootstrap-table/src/bootstrap-table.js" %}"></script>
  <script src="{% static "bootstrap-table/assets/bootstrap-table/src/locale/bootstrap-table-pt-BR.js" %}"></script>

  <script src="{% static "bootstrap-table/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js" %}"></script>
  <script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>

  <script src="{% static "bootstrap-table/ga.js" %}"></script>
