<div class="container">
    <br />
<div class="panel panel-default">
      <div class="panel-heading">
          
        </div>
     <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-1">PRONAC</th>
          <th class="col-md-6">Nome do Projeto</th>
          <th class="col-md-4">CNPJ/CPF</th>
          <th class="col-md-4">Nome do proponente</th>
          <th class="col-md-4">Estado</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>{{ projeto.PRONAC }}</strong></td>
          <td>{{ projeto.nome }}</small></td>
          <td>{{ projeto.cgccpf }}</td>
          <td>{{ projeto.proponente }}</td>
          <td>{{ projeto.UF }}</td>

         
        </tr>
  
      </tbody>
    </table>
   </div>
    
    
</div>