 
<ul class="nav nav-sidebar">


     <li class=".. {% if active == 'projetos' %} active {% endif %}"><a href="/projetos"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Projetos {% if active == 'projetos' %} <span class="sr-only">(current)</span> {% endif %}</a></li>

    <li class=".. {% if active == 'proponentes' %} active {% endif %}"><a href="/proponentes"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Proponentes {% if active == 'proponentes' %} <span class="sr-only">(current)</span> {% endif %}</a></li>

    <li class=".. {% if active == 'incentivadores' %} active {% endif %}"><a href="/incentivadores"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Incentivadores {% if active == 'incentivadores' %} <span class="sr-only">(current)</span> {% endif %}</a></li>

    <li class=".. {% if active == 'estatisticas' %} active {% endif %}"><a href="/estatisticas"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estatísticas {% if active == 'estatisticas' %} <span class="sr-only">(current)</span> {% endif %}</a></li>


 </ul>
