{% extends "base.html" %}
{% load static from staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}


{% block navbar %}

    {% include "nav.html" with active='proponentes' %}

{% endblock %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header">Proponentes</h1>


    <form method="POST" >

    <div class="row placeholders">

        {% crispy searchForm %}

    </div>

    <button type="submit" class="btn btn-primary"> 
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
    </button>

     </form>

     </form>


    <div class="row placeholders">

      <p></p>
        {% render_table table "custom_table.html" %}

        {% include "download_section.html" with link=link %}
    </div>
   


</div>
{% endblock %}